<p> Main page </p>

<h2> Welcome to Blogs Api </h2>

<%= render 'shared/flash_messages' %>

<% if session[:token] == nil %>
    <%= link_to 'Login', new_session_path %>
<% else %>
    <%= link_to 'Logout', session_path(id: "id"), data: { confirm: "Are you sure?" }, method: :delete %>
<% end %>

<% if @body.empty? == false %>
  <% @body["data"].each do |blog| %>
    <table>
      <tr>
        <th> Title </th>
        <th> Body </th>
      </tr>
      <tr>
        <td> <%= blog["attributes"]["title"] %></td>
        <td> <%= blog["attributes"]["body"] %> </td>
      </tr>
    </table>
  <% end %>
<% end %>

